.ItemDetailStock,
.lastItemWarning {
  font-size: 14px;
  text-transform: uppercase;
  margin: 16px 0;
}

.lastItemWarning {
  background-color: #F0AD4E;
  padding: 4px 8px;
  margin: 16px 0;
  text-transform: uppercase;
  font-weight: 700;
}

.mainContainer {
  margin-top: 32px !important;
  padding: 24px
}

.backButton {
  margin-top: 32px !important;
}

.productInfoContainer {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  text-align: left !important;
}

@media(min-width: 900px) {
  .productInfoContainer {
    padding-left: 40px !important;
  }
}