.ItemDetailStock,
.lastItemWarning {
  font-size: 14px;
  text-transform: uppercase;
  margin: 16px 0;
}

.lastItemWarning {
  background-color: #F0AD4E;
  padding: 4px 8px;
  margin: 16px 0;
  text-transform: uppercase;
  font-weight: 700;
}