.logoText {
  font-family: "Anton";
  margin: 0;
  transition: 0.15;
  font-size: 24px;
  letter-spacing: -0.75px;
}

.logoContainer {
  max-width: 180px;
  margin-left: 12px;
}

.logoIcon {
  max-width: 48px;
}