.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

a.navbar-link {
	color: white;
	margin-left: 8px;
}

a.navbar-link:hover {
	color: darkslateblue;
	text-decoration: none;
	cursor: pointer;
}
