.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

a.navbar-link {
	color: white;
	margin-left: 16px;
}

a.navbar-link:hover {
	color: darkslateblue;
	text-decoration: none;
	cursor: pointer;
}

.active-link {
  color: darkslateblue;
  font-weight: 700;
}

.inactive-link {
  color: white;
}